R/.RData
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
R/sysdata.rda
data/
inst/extdata/HeLa-S3.tsv
inst/extdata/HeLa_H3K27ac.bam
inst/extdata/HeLa_H3K27ac.bam.bai
inst/extdata/HeLa_H3K4me1.bam
inst/extdata/HeLa_H3K4me1.bam.bai
inst/extdata/HeLa_H3K4me3.bam
inst/extdata/HeLa_H3K4me3.bam.bai
inst/extdata/HeLa_input.bam
inst/extdata/HeLa_input.bam.bai
inst/extdata/data/
inst/extdata/PrecomputedData.db
inst/extdata/Annotation.db
inst/extdata/NAperrow.txt
inst/extdata/NAprecomputedfisher.txt
inst/extdata/PrecomputedData2.db
inst/extdata/PrecomputedData3.db
inst/extdata/combinedTestData.rds
inst/extdata/numberofNAprecomputedData.png
inst/extdata/plots.R
inst/extdata/replacenawith0.txt
inst/extdata/testPrecomputedDataNA.R

